<div class="berjayamain">
  <div class="ui grid">
  <div class="ui text container">
<p class="berjayatextheading"> Berjaya Tioman</p>
</div>
</div>
</div>

<div class="indivresort">

  <div class="ui segments">
    <div class="ui segment">
    <div class="ui slide masked reveal image">
      <img src="img/berjayacoffee.JPG" class="visible content">
      <img src="/img/berjayaroom.JPG" class="hidden content">
    </div>
  </div>
  <div class="ui segment">
    <div class="content">
      <h3 class="header">Package Includes:</h3>
      <div class="meta">
        <ul>
        <h5>Accommodation + 01 Buffet Breakfast & 01 Night Buffet Dinner at Sri Nelayan Restaurant</h5>
        <h5>01 Snorkeling trip to Renggis Island (Including Gear) for 1 hr OR 01 hr rental of bicycle</h5>
        <h5>02 Way Land Transfer (Singapore - Mersing - Singapore) & Ferry Transfer(Mersing - Tioman Island - Mersing)</h5>
      </ul>
    </div>
  </div>
</div>
  <div class="ui segment">
    <form class="searchResort ui large form" action="/search" method="POST">
    <button class="ui teal basic large button" name="resortSelect" value= "Berjaya Tioman Resort" type="submit">
      Book This Resort
    </button>
  </form>
  </div>

</div>
</div>
