<div class="mainbooking">
  <div class="ui grid">
    <div class="ui text container">
      <p class="maintextheading"> Complete Your Booking </p>
    </div>
  </div>
</div>

<div class="bookingform">

  <div class="ui ordered top attached steps">
  <div class="completed step">
    <div class="content">
      <div class="title">Package</div>
      <div class="bookingdescription">Choose your resort package options</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">Booking</div>
      <div class="bookingdescription">Complete your booking</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">Confirm Booking</div>
      <div class="bookingdescription">Booking is confirmed</div>
    </div>
  </div>
</div>
  <div class="ui attached segments">
    <div class="ui segment">
    <p class="writeup">Booking Form</p>
  </div>
  <div class="ui segment">
  <p class="writeup">Resort Details blah blah</p>
</div>
  <div class="ui segment">
    <form action="/finishbooking" method="POST">
    <div class="ui form">
      <div class="fields">
        <div class="six wide large field">
          <label>Full name</label>
          <input type="text" name="fullname" placeholder="Full Name">
        </div>
        <div class="six wide large field">
          <label>Email</label>
          <input type="text" name="emailadd" placeholder="Email">
        </div>
        <div class="four wide large field">
          <label>Contact Number</label>
          <input type="text" name="contactno" placeholder="Contact Number">
        </div>
      </div>
      <div class="fields">
        <div class="six wide large field">
          <label>Check In</label>
          <input type="date" name="checkin">
        </div>
        <div class="six wide large field">
          <label>Check Out</label>
          <input type="date" name="checkout">
        </div>
        <div class="four wide large field">
          <label>Pax</label>
          <input type="number" placeholder="2" name="pax">
        </div>
      </div>
      <div class="actions">
        <button class="ui button" type="submit" ><i class="calendar icon"></i>Book</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>

<div class="resortList">
</div>
