<div class="homepage">
<div class="ui grid">
<div class="ui text container">
  <p id="sany-travel">
    Sany Travel
  </p>
  <p id="islander">Islanders Since 1988</p>
  <div class="ui huge inverted button">View Islands</div>
  <div class="ui huge inverted button">Plan Your Trip</div>

</div>

</div>
</div>
