<div class="homepage">
<div class="ui grid">
<div class="ui text container">
  <p id="sany-travel">
    Sany Travel
  </p>
  <p id="islander">Islanders Since 1988</p>
  <a class="ui huge inverted button">View Islands</a>
  <a href="/planner" class="ui huge inverted button">Plan Your Trip</a>

</div>

</div>
</div>
