<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Sany Travel & Tour  </title>
  <link href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <link rel="stylesheet" href="/style.css"/>
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <script src="main.js"></script>



</head>

<body>
  <div class="navbar">
  <div class="ui large secondary pointer menu">
    <a href="/" class="item">
      <i class="large home icon"></i>
    </a>
    <div class="ui simple dropdown large inverted button">
      Islands
      <i class="dropdown icon"></i>
      <div class="menu">
            <div class="divider"></div>
            <a href="/tioman" class="header">Tioman Island</a>
            <a href="/berjaya" class="item">Berjaya Tioman Resort</a>
            <a href="/paya" class="item">Paya Beach Resort</a>
            <a href="/panuba" class="item">Panuba Inn</a>
            <div class="divider"></div>
            <a href="/pulaubesar" class="header">Pulau Besar</a>
            <a href="/dcoconut"class="item">D'Coconut Island resort</a>
            <a href="/aseania" class="item">Aseania Beach Resort</a>
          </div>
    </div>
    <a href="/booking" class="ui large inverted button">
      Book Now
    </a>
    <div class="right menu">
    <a href="/planner" class="ui inverted teal basic button">
      Trip Planner
    </a>
    <a href="/livechat" class="ui inverted teal basic button">
      Live Chat
    </a>
  </div>
  </div>
</div>


    <%- body %>


<div class="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="/" class="item">Home</a>
            <a href="/planner" class="item">Trip Planner</a>
            <a href="/booking" class="item">Book Now</a>
            <a href="/livechat" class="item">Live Chat</a>
            <a href="#" class="item">FAQs</a>
          </div>
        </div>
        <div class="three wide column">
          <h3 class="ui inverted header">Contact Us</h3>
          <div>
          <p>Sany Travel & Tour (1992)<br></p>
          <p><i class="marker icon"></i>
          545 Orchard Road #B1 – 20 <br>
          Far East Shopping Centre <br>
          Singapore 238882 </p>
          </div>
          <br>
          <div>
          <p><i class="call icon"></i> 67321316</p>
          </div>
          <br>
          <div>
          <p><i class="mail icon"></i> sanytrvl@hotmail.com</p>
          </div>
        </div>
        <div class="six wide column">
          <h3 class="ui inverted header">Land and Sea Experts Since 1988</h3>
            <p>Sany Travel & Tour gives you the best prices in town and our friendly experts are here to help you customise a travel package that suits your needs. </p>
            <a href="#"><i class="big facebook square icon"></i></a>
            <a href="#"><i class="big instagram icon"></i></a>
            <a href="#"><i class="big twitter square icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.API_KEY%>&callback=initMap"
  async defer></script>
</body>
</html>
