<div class="pbesar">
  <div class="ui grid">
  <div class="ui text container">
<p class="maintextheading"> Pular Besar </p>
<p class="description"> The island which is surrounded by Rawa Island, Sibu Island and Tinggi Island is characterized by quiet, clean beaches of powdery white sand and crystal-clear azure waters.  </p>
</div>
</div>
</div>

<div class="resorts">
  <div class="ui grid">
    <div class="five wide column">
      <div class="ui special cards">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="/dcoconut" class="ui inverted button">D'Coconut Island Resort</a>
                </div>
              </div>
            </div>
            <img src="/img/dcoconut.JPG">
          </div>
          <div class="content">
            <a href="/dcoconut" class="header">From S$225</a>
            <div class="meta">
              <a href="/dcoconut" class="date">find out more..</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="five wide column">
      <div class="ui special cards">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="/aseania" class="ui inverted button">Aseania Beach Resort</a>
                </div>
              </div>
            </div>
            <img src="/img/aseaniasunset.JPG">
          </div>
          <div class="content">
            <a href="/aseania" class="header">From S$278</a>
            <div class="meta">
              <a href="/aseania" class="date">find out more..</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

<p class="writeup">Besar Island (formerly known as Pulau Babi Besar) is an island off the east coast of Johor, Malaysia. It is accessible by boat from Mersing town (approximately 30 minutes). The island’s highest point rises some 2,000 feet (610 m) above the sea level.</p>

</div>
