<div class="tioman">
  <div class="ui grid">
    <div class="ui text container">
      <p class="maintextheading"> Tioman Island </p>
      <p class="description"> The Tioman Island Package provides the perfect escape from the everyday to the exotic! Located in the South China Sea, Tioman Island offers a range of activities for travelers who seek relaxation as well as those who want excitement. Select from a range of accommodations, as well, whether you are a romantic couple or a family with kids. </p>
    </div>
  </div>
</div>

<div class="resorts">
  <div class="ui grid">
    <div class="five wide column">
      <div class="ui special cards">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="/berjaya" class="ui inverted button">Berjaya Tioman Resort</a>
                </div>
              </div>
            </div>
            <img class="tiomanimage" src="/img/berjayacoffee.JPG">
          </div>
          <div class="content">
            <a href="/berjaya" class="header">From S$298</a>
            <div class="meta">
              <a href="/berjaya" class="date">find out more..</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="five wide column">
      <div class="ui special cards">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="/paya" class="ui inverted button">Paya Beach Resort</a>
                </div>
              </div>
            </div>
            <img class="tiomanimage" src="/img/paya.JPG">
          </div>
          <div class="content">
            <a href="/paya" class="header">From S$208</a>
            <div class="meta">
              <a href="/paya" class="date">find out more..</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="five wide column">
      <div class="ui special cards">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a href="/panuba" class="ui inverted button">Panuba Inn</a>
                </div>
              </div>
            </div>
            <img class="tiomanimage" src="/img/panuba.JPG">
          </div>
          <div class="content">
            <a href="/panuba" class="header">From S$155</a>
            <div class="meta">
              <a href="/panuba" class="date">find out more..</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

<p class="writeup">Many of the packages include outdoor activities popular in the area, such as snorkeling, boating and walks through the luscious rainforest. Enjoy exploring the warm, pristine waters off of the coast of Pahang, walking the white sand beaches and sampling the local, tropical foods.</p>

</div>
