/*sanycontent*/

.homepage {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background: url("img/besar.jpg") no-repeat center center fixed;
  background-size: cover;
}

.resorts {
  min-height:100%;
  padding-bottom:60px;
  padding-top: 120px;
  padding-left: 140px;
  padding-right: 30px;
  box-sizing:border-box;
  background: #F0EDD7 no-repeat center center fixed;
}

.footer {
  background: #1ebfb1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1ebfb1 25%, #2085c9 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1ebfb1 25%,#2085c9 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1ebfb1 25%,#2085c9 78%);
  position: absolute;
  margin-top: -50px;
  left: 0;
  width: 100%;
  padding: 15px 0;
}

.main {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:#75b4ee;
  background-size: cover;
}

.tioman {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/tioman2.JPG") no-repeat center center fixed;
  background-size: cover;
}

.pbesar {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/besar2.JPG") no-repeat center center fixed;
  background-size: cover;
}

.plantrip {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/plantrip4.jpg") no-repeat center center fixed;
  background-size: cover;
}

.mainbooking {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/tioman1.JPG") no-repeat center center fixed;
  background-size: cover;
}


.ui.stackable.inverted.grid {
  background: #1ebfb1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1ebfb1 25%, #2085c9 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1ebfb1 25%,#2085c9 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1ebfb1 25%,#2085c9 78%);
  text-align: center;
}


.navbar {
  padding-top: 10px;
  opacity: 1;
}

.icon {
  color: white;
}

.home.icon {
  color: black;
}

.container {
  text-align: center;
}

#sany-travel {
  padding-top: 100px;
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}

#islander {
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 30px;
}

.textheading {
  padding-top: 100px;
  color: black;
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}


.maintextheading {
  padding-top: 100px;
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}

.description {
  margin-left: 70px;
  margin-right: 70px;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}

.card {
  border: 5px white;
}
