/*sanycontent*/

.homepage {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background: url("img/besar.jpg") no-repeat center center fixed;
  background-size: cover;
}

.resorts {
  min-height:100%;
  padding-bottom:60px;
  padding-top: 120px;
  padding-left: 140px;
  padding-right: 30px;
  box-sizing:border-box;
  background: #F0EDD7 no-repeat center center fixed;
}

.footer {
  background: #1ebfb1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1ebfb1 25%, #2085c9 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1ebfb1 25%,#2085c9 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1ebfb1 25%,#2085c9 78%);
  position: absolute;
  margin-top: -50px;
  left: 0;
  width: 100%;
  padding: 15px 0;
}

.tioman {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/tioman2.JPG") no-repeat center center fixed;
  background-size: cover;
}

.pbesar {
  margin-top: -55px;
  min-height:100%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/besar2.JPG") no-repeat center center fixed;
  background-size: cover;
}

.indivresort {
  min-height:100%;
  padding-bottom:80px;
  padding-top: 80px;
  padding-left: 140px;
  padding-right:140px;
  box-sizing:border-box;
  color: #3D2413;
  text-align: center;
  background: #1ebfb1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1ebfb1 25%, #2085c9 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1ebfb1 25%,#2085c9 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1ebfb1 25%,#2085c9 78%);
}


.berjayamain {
  margin-top: -55px;
  min-height:40%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/berjayabar1.JPG") no-repeat center center fixed;
  background-size: cover;
}


.berjayatextheading {
  padding-top: 40px;
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 80px;
  padding-bottom: -20px;
}


.plantrip {
  margin-top: -55px;
  min-height:70%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/plantrip4.jpg") no-repeat center center fixed;
  background-size: cover;
}

.mapping {
  min-height:100%;
  padding-bottom:60px;
  padding-top: 60px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing:border-box;
  background: #F0EDD7 no-repeat center center fixed;
}

.planningtextheading {
  padding-top: 180px;
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}

.mainbooking {
  margin-top: -55px;
  min-height:50%;
  padding-bottom:60px;
  box-sizing:border-box;
  background:url("img/booking1.JPG") no-repeat center center fixed;
  background-size: cover;
}

.bookingform {
  min-height:50%;
  padding-bottom:20px;
  padding-top: 60px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing:border-box;
  background: #F0EDD7 no-repeat center center fixed;
}

.resortList {
  min-height:60%;
  padding-bottom: 30px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing:border-box;
  background: #F0EDD7 no-repeat center center fixed;
}

.resortDescription {
  text-align: center;
  color: #3D2413;
}

.calendar.icon {
  color: grey;
}

.ui.stackable.inverted.grid {
  background: #1ebfb1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1ebfb1 25%, #2085c9 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1ebfb1 25%,#2085c9 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1ebfb1 25%,#2085c9 78%);
  text-align: center;
}


.navbar {
  padding-top: 10px;
  opacity: 1;
}

.icon {
  color: white;
}

.home.icon {
  color: black;
}

.container {
  text-align: center;
}

#sany-travel {
  padding-top: 100px;
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}

#islander {
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 30px;
}

.textheading {
  padding-top: 100px;
  color: black;
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}


.maintextheading {
  padding-top: 100px;
  color: white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 100px;
}

.description {
  margin-left: 70px;
  margin-right: 70px;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}

.writeup {
  padding-top: 40px;
  font-size: 20px;
  color: #3D2413;
  font-style: italic;
}

.ui.segment {
  background: #F0EDD7;
}

/*.ui.modaldiv.form {
  padding-left: 30px;

}*/
